@use '@pages/app.scss' as app;

.aboutBlock {
    margin-top: app.scale(33px);
    margin-left: app.scale(38px);
    margin-right: app.scale(38px);
    width: fit-content;
    color: #3C3C3C;
    font-size: 1.12em;
    font-weight: app.scaleFontWeight(0);
    line-height: app.scale(10.451px);
}

.aboutBlock__title {
    font-size: 1.4em;
}