@use '@pages/app.scss' as app;
.auxSkillsBlock {
    margin-top: app.scale(33px);
    margin-left: app.scale(38px);
    color: #3C3C3C;
    font-size: app.scale(8px);
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: app.scale(12px);
}

.auxSkillsBlock__title {
    font-size: app.scale(10px);
}

.auxSkillsBlock__list {
    list-style-position: inside;
    padding-left: 0;
}