@use '@pages/App/style' as app;

.basicInfoBlock {
    margin-top: 0px;
}

.basicInfoBlock__columns {
    display: flex;
}

.basicInfoBlock__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: app.scaleFontWeight(200);
    & p {
        margin-top: app.scale(3px);
        margin-bottom: 0;
    }
}

.basicInfoBlock__column_values {
    font-weight: app.scaleFontWeight(0);
    margin-left: app.scale(10px);
}