@use '@pages/App/style' as app;

.addEducBlock__elem {
    display: grid;
    grid-template-columns: max-content 100%;
    grid-template-rows: 1fr;
    column-gap: 20px;
}

.addEducBlock__link {
    @include app.addLink();
}
.addEducBlock__course {
    color: #3C3C3C;
}

.addEducBlock__courseType {
    color: #696969;
}