@use '@pages/App/style' as app;

.blockAddEduc__elem {
    display: grid;
    grid-template-columns: max-content 100%;
    grid-template-rows: 1fr;
    column-gap: 20px;
}

.blockAddEduc__link {
    @include app.addLink();
}
.blockAddEduc__course {
    color: #3C3C3C;
}

.blockAddEduc__courseType {
    color: #696969;
}