@use '@pages/App/style' as app;

.blockContacts__elems {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 1fr 1fr 1fr;
}

.blockContacts__link {
    @include app.addLink();
}

.blockContacts__elemContent {
    margin: 0;
    display: flex;
    width: fit-content;
    align-items: flex-end;
}

.blockContacts__icon {
    width: 20px;
    height: 20px;
    background-color: #042F57;
}

.contactBlock__textLink {
    margin-left: app.scale(2.5px);
}