@use '@pages/App/style' as app;

.blockEducation__elem {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
}

.blockEducation__univer {
    color: #3C3C3C;
}

.blockEducation__educType {
    color: #4d4d4d;
}

.blockEducation__spec {
    color: #636363;
}