@font-face {
    font-family: Poppins;
    src: url('@assets/fonts/Poppins.otf');
    font-display: swap;
}
:root {
    --scale: 1.5;
}
html {
    box-sizing: border-box;
    background-color: rgb(203, 203, 216);
}
*,
::before,
::after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
.wrapper {
    width: calc(612px * var(--scale));
    height: calc(792px * var(--scale));
    position: relative;
    margin: 100px auto 80px auto;
    background-color: #F8F8F8;
    box-shadow: 11px 12px 32px 3px rgba(0, 0, 0, 0.25);
}