.workInfo {
    width: calc(340px * var(--scale));
    height: calc(733px * var(--scale));
    background-color: #FFF;
    position: absolute;
    left: calc(243px * var(--scale));
    top: calc(28px * var(--scale));
}