@use '@pages/app.scss' as app;

.educationBlock {
    margin-top: app.scale(33px);
    margin-left: app.scale(38px);
    margin-right: app.scale(38px);
    width: fit-content;
    color: #3C3C3C;
    font-size: app.scale(8.894px);
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: app.scale(10.451px);
}

.educationBlock__title {
    font-size: app.scale(11.117px);
}

.educationBlock__elem {
    display: grid;
    grid-template-columns: max-content 100%;
    grid-template-rows: 1fr;
    column-gap: 20px;
}

.educationBlock__univer {
    color: #3C3C3C;
}

.educationBlock__educType {
    color: #696969;
}

.educationBlock__spec {
    color: #949494;
}