@use '@pages/app.scss' as app;

.infoBlock {
    width: app.scale(190px);
}

.infoBlock__title {
    color: #042F57;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: app.scale(8.327px);
    letter-spacing: app.scale(0.5px);
}

.infoBlock__line {
    width: 100%;
    position: relative;
    height: 1px;
    background-color: #CCC;
}

.infoBlock__line:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: app.scale(18px);
    height: 100%;
    background-color: #042F57;;
}