@import "@assets/fonts/lato/lato.css";

@font-face {
    font-family: Poppins;
    src: url('@assets/fonts/Poppins.otf');
    font-display: swap;
}

@function scaleFontWeight($size) {
    @return calc(var(--font-size) + $size);
}

@function scale($size) {
    @return calc($size * var(--scale));
}

@mixin addLink() {
    &,
    &:active,
    &:visited {
        margin-top: scale(5px);
        color: #3C3C3C;
    }
}

:root {
    --scale: 1.5;
}

html {
    box-sizing: border-box;
    background-color: rgb(203, 203, 216);
}

*,
:before,
:after {
    box-sizing: inherit;
}

body {
    margin: 0;

}

.wrapper {
    width: scale(612px);
    height: scale(792px);
    position: relative;
    margin: 100px auto 80px auto;
    background-color: #F8F8F8;
    box-shadow: 11px 12px 32px 3px rgba(0, 0, 0, 0.25);
    font-size: scale(8px);
}

.wrapper_en {
    font-family: "Poppins", "Arial", sans-serif;
    --font-size: 400;
}

.wrapper_ru {
    font-family: "Lato", "Arial", sans-serif;
    --font-size: 500;
}

.wrapper__langSwitcher {
    background-color: transparent;
    color: #042F57;
    font-style: normal;
    font-weight: 700;
    font-size: scale(12px);
    line-height: scale(8.327px);
    letter-spacing: scale(0.5px);
    position: absolute;
    left: 30px;
    top: 40px;
    font-family: Lato Light;
    border: none;
    outline: none;
}

.wrapper__langSwitcher {
    cursor: pointer;
}