@use '@pages/app.scss' as app;

.experienceBlock {   
    margin-top: app.scale(33px);
    margin-left: app.scale(38px);
    margin-right: app.scale(38px);
    width: fit-content;
    color: #3C3C3C;
    font-size: app.scale(8.894px);
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: app.scale(10.451px);
}

.experienceBlock__title {
    font-size: app.scale(11.117px);
}

.experienceBlock__link,
.experienceBlock__link:active,
.experienceBlock__link:visited {
    margin-top: app.scale(5px);
    color: #3C3C3C;
    font-size: app.scale(8px);
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: app.scale(12px);
}